@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=DM+Sans&display=swap');

*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  background-color: black;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.navigation {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
}

:is(h1, p, h3) {
  margin: 0;
}

.bg {
  background-image: url(https://i.pinimg.com/564x/68/8c/0e/688c0e52f05430a413fc57b162260c45.jpg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.navbar .row li a {
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3 ease-in-out;
  -moz-transition: 0.3 ease-in-out;
  -ms-transition: 0.3 ease-in-out;
  -o-transition: 0.3 ease-in-out;
}

.navbar .row a:hover {
  color: pink;
}

.logo {
  font-family: 'Cabin sketch', cursive;
  font-weight: 700;
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin-right: auto;
}

.logo h1 {
  color: white;
}

.logo span {
  color: pink;
}
.logo span:last-child {
  color:rgba(255, 147, 255, 0.904);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 3em;
  font-size: 17px;
  margin-right: 0;
}

nav ul li:last-child {
  margin-left: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.search-bar input[type="text"] {
  padding: 0.5rem;
  border-radius: 0.25rem 0 0 0.25rem;
  border: none;
  font-size: 1rem;
  width: 300px;
}

.search-bar button[type="search"] {
  background-color: #300236;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0 0.25rem 0.25rem 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search-bar button[type="submit"]:hover {
  background-color: #0b082c;
}

/* Hero Section */
.hero {
  max-width: 500px;
  justify-content: flex-start;
  align-items: center;
  padding: 6em 4em;
}

.hero h1 {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 900;
  color: #fff;
  font-size: clamp(4rem, 5vw, 2rem);
  padding-bottom: 0.5em;
  white-space: nowrap;
}

.hero .hcard p {
  background: transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(185, 7, 185, 0.678);
  max-width: 500px;
  padding: 1.5em;
  cursor: pointer;
  margin: auto;
  margin: 10px 30px 70px 110px;
  color: rgb(235, 159, 203);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero .hcard p:hover {
  box-shadow: 0px 0px 5px 1px rgba(255, 166, 255, 0.678);
  color: rgb(240, 134, 178);
}

.hero h3 {
  color: pink;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}
/* Cards Section */
.name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    padding: 15px;
    font-style: italic;
    font-size: 20px;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  gap: 20px;
}

.container .card {
  width: calc(21.33% - 10px);
  margin-bottom: 20px;
  box-shadow: 1 6px 10px rgba(218, 135, 243, 0.76);
  transition: box-shadow 0.3s ease-in-out;
  background-color: #200320;
}

.container .card:hover {
  box-shadow: 0 20px 25px rgba(230, 213, 236, 0.863);
}

.container .card .poster {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.container .card .title{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: #F1E3E4;
}

.container .card .description {
  font-size: 14px;
  color: #C44900;
  margin-bottom: 10px;
  font-weight: bold;
}
.container .card .showtime {
font-size: 14px;
font-weight: bold;
color: #F1E3E4;
margin-bottom: 5px;

}
.container .card .tickets {
font-size: 14px;
font-weight: bold;
color: #C44900;
margin-top: 5px;
}
.btn {
  display: inline-flex;
  padding: 10px 30px;
  background-color: #422040;
  color: #fff;
  border-radius: 5px;
  margin: 10px 20px 20px 20px;
  border-color: #200320;
}

.btn:hover {
  background-color: #0c0414;
  border-color: #470a96;
}

/* Reset styles 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }

  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  h1 {
    margin: 0;
  }
  
  nav {
    margin-right: auto; 
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav ul li a .logo{
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  nav ul li a .logo span{
    font-size: 28px;
    display: flex;
    align-items: center;
  }
  nav ul li a .logo span b{
    padding: 1px 5px;
    font-size: 20px;
    background-color: var(--darkblue-clr);
    color: var(--body-clr);
    border-radius: 5px;
  }
  
  nav li:not(:last-child) {
    margin-right: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  .search-bar {
    margin-left: auto; 
  
  .search-bar form {
    display: flex;
  }
  
  .search-bar input[type="text"] {
    padding: 0.5rem;
    border-radius: 0.25rem 0 0 0.25rem;
    border: none;
    font-size: 1rem;
    width: 200px;
  }
  
  .search-bar button[type="submit"] {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0 0.25rem 0.25rem 0;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .search-bar button[type="submit"]:hover {
    background-color: #777;
  }

  .menu-section {
    display: flex;
    padding: 2rem;
    width: 100%;
    margin: 20px;
  }
  
  .menu-section h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #edddf7;
      padding: 15px;
      font-style: italic;
      font-size: 18px;
    margin-bottom: 1rem;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 20px;
  }
  
  .card {
    width: calc(21.33% - 10px);
    margin-bottom: 20px;
    box-shadow: 1 6px 10px rgba(218, 135, 243, 0.76);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #200320;
  }
  
  .card:hover {
    box-shadow: 0 20px 25px rgba(230, 213, 236, 0.863);
  }
  
  .card .poster {
    width: 100%;
    height: auto;
    object-fit: fill;
  }
  
  .card .title{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: #F1E3E4;
  }
  
  .card .description {
    font-size: 14px;
    color: #C44900;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .card .showtime {
  font-size: 14px;
  font-weight: bold;
  color: #F1E3E4;
  margin-bottom: 5px;

  }
  .card .tickets {
  font-size: 14px;
  font-weight: bold;
  color: #C44900;
  margin-top: 5px;
  }
  .btn {
    display: inline-flex;
    padding: 10px 30px;
    background-color: #422040;
    color: #fff;
    border-radius: 5px;
    margin: 10px 20px 20px 20px;
    border-color: #200320;
  }

  .btn:hover {
    background-color: #0c0414;
    border-color: #470a96;
  }
  */