@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=DM+Sans&display=swap');

*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  background-color: black;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.navigation {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
}

:is(h1, p, h3) {
  margin: 0;
}

.bg {
  background-image: url(https://i.pinimg.com/564x/68/8c/0e/688c0e52f05430a413fc57b162260c45.jpg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo {
  font-family: 'Cabin sketch', cursive;
  font-weight: 700;
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin-right: auto;
}

.logo h1 {
  color: white;
}

.logo span {
  color: pink;
}
.logo span:last-child {
  color:rgba(255, 147, 255, 0.904);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 3em;
  font-size: 17px;
  margin-right: 0;
}

nav ul li:last-child {
  margin-left: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 2em;
}
.search-bar input[type="text"] {
  padding: 0.5rem;
  border-radius: 0.25rem 0 0 0.25rem;
  border: none;
  font-size: 1rem;
  width: 300px;
}
.search-bar button[type="search"] {
  background-color: #300236;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0 0.25rem 0.25rem 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.search-bar button[type="submit"]:hover {
  background-color: #0b082c;
}


/* Hero Section */
.hero {
  max-width: 500px;
  justify-content: flex-start;
  align-items: center;
  padding: 6em 4em;
}

.hero h1 {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 900;
  color: #fff;
  font-size: clamp(4rem, 5vw, 2rem);
  padding-bottom: 0.5em;
  white-space: nowrap;
}

.hero .hcard p {
  background: transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(185, 7, 185, 0.678);
  max-width: 500px;
  padding: 1.5em;
  cursor: pointer;
  margin: auto;
  margin: 10px 30px 70px 110px;
  color: rgb(235, 159, 203);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero .hcard p:hover {
  box-shadow: 0px 0px 5px 1px rgba(255, 166, 255, 0.678);
  color: rgb(240, 134, 178);
}

.hero h3 {
  color: pink;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}
/* Cards Section */
#drinks {
  justify-content: flex-start;
  align-items: center;
  padding: 0 4em 2em 4em;
}
.cocktail-cards {
  display: inline-flex;
  flex-direction: row;

}

.card {
  height: 500px;
  width: 60%;
  margin: 10px;
  box-shadow: 5px 5px 20px rgba(201, 201, 201, 0.397);
  color: white;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  overflow-wrap: initial;
  position: relative;
  box-sizing: border-box;
 
}
.card:hover{
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(201, 201, 201, 0.397);
  
}

.card img {
  height: 500px;
  width: 350px;
  border-radius: 3px;
}


.card-details {
  color: #0e0e0e;
  height: 70px;
  background: #7a787850;
  width: 350px;
  padding: 6px;
  box-sizing: border-box;
  position: relative;
  bottom: 60px;
  transform: translate(-0%, -70%);
  text-align: center;

  opacity: 0;
  transform: .5s;
}
.card-details h3 {
  margin: 10px;
  font-size: 30px;
  font-family: 'DM Sans','Times New Roman', Times, serif;
}

.card-details h4 {
  margin-bottom: 0.1em;
}

.card-details h4 ul li{
  font-size: 10px;
  margin: 20px;
}


.card:hover .card-details {
  background: black;
  opacity: 1;
  height: 127%;
  color: white;
  box-sizing: border-box;
  
}
