@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=DM+Sans&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=DM+Sans&family=Dancing+Script:wght@500&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Caveat:wght@700&family=DM+Sans&family=Dancing+Script:wght@500&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Caveat:wght@700&family=DM+Sans&family=Dancing+Script:wght@500&family=Sedgwick+Ave+Display&family=Volkhov:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  width: 100%;
  color: white;
  height: auto;
}

a {
  text-decoration: none;
}

:is(h1, p, h3) {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: var(--nav);
  box-sizing: border-box;
  padding: 0;
  position: relative;
  top: 0;
  z-index: 999;
  transition: transform 0.3s ease;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92vw;
  height: 70px;
}

.logo {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  margin-right: auto;
}

.logo h1 {
  color: #ffffff;
}

.logo span {
  color: #b44621;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

form {
display: flex;
flex-direction: row;
}

input {
  max-width: 390px;
  width: 290px;
  height: 45px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  background-color: #201007;
  caret-color: #f7f7f8;
  color: #fff;
  padding: 7px 10px;
  border: 2px solid transparent;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-right: 1px;
  transition: all .2s ease;
}

input:hover {
  border: 2px solid rgba(255, 255, 255, 0.16);
}

input:focus {
  border: 2px solid #b44621;
  background-color: #0e0e10;
}

.search__btn {
  border: none;
  cursor: pointer;
  background-color: #b44621;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 45px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__btn:hover {
  background-color: rgba(54, 54, 56, 1);
}

/* Hero Section */

#hero {
  min-height: calc(100vh - 70px);
  width: 100%;
}

.hero {
  margin: 0 auto;
  overflow: hidden;
  padding-top: 8rem;
  padding-bottom: 2rem;
  width: 92vw;
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 4rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top:5rem;
}

.hero-text h1 {
  font-family: "Marck Script", cursive;;
  font-weight: 700;
  font-style: normal;
  color: #ffebe0;
  font-size: 2em;
  padding-bottom: 3rem;
}

.hero-text p {
  color: #ffffff;
  font-family: "Libre Baskerville", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  padding-bottom: 4rem;
}

.hero h3 {
  color: #b44621;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2em;
  text-align: end;
}

.hero-image {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24%;
}

/* Cards Section */
#drinks {
  height: auto;
  width: 100%;
}

.drinks {
  margin: 0 auto;
  overflow: hidden;
  width: 92vw;
  position: relative;
}

.search-results-heading {
  display: none;
}

.search-results-heading {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  color: #ffebe0;
  text-align: center;
  font-size: 2em;
  padding-bottom: 1rem;
}

.cocktail-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.card {
  height: 400px;
  width: calc(22.22% - 15px);
  margin: 10px;
  box-shadow: 5px 5px 20px rgba(255, 131, 73, 0.397);
  color: white;
  background-color: #000000;
  overflow: hidden;
  position: relative;
}

.card:hover {
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(113, 40, 0, 0.397);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  transition: .5s;
}

.card:hover img {
  transform: scale(1.1) rotate(-3deg);
}

.card-details {
  height: 80px;
  width: auto;
  padding: 4px;
  box-sizing: border-box;
  position: absolute;
  bottom: 1px;
  color: #420f02;
  transition: .5s;
  background-color: rgba(211, 209, 209, 0.658);
}

.card-details h3 {
  margin: 10px;
  font-size: 1.7em;
  font-family: 'Sedgwick Ave Display';
}

.card-details .main-details {
  font-family: 'Volkhov';
  font-size: 1em;
  margin: 5px;
  visibility: hidden;
  opacity: 0;
  background-color: #c5afa7c9;
  height: 340px;
  overflow-y: auto;
}

.card-details .main-details::-webkit-scrollbar {
  display: none;
}

.card-details .main-details {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card:hover .card-details {
  height: 270px;
  bottom: 140px;
  color: #b44621;
}

.card:hover .main-details {
  opacity: 1;
  visibility: visible;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .card {
    width: calc(30% - 15px);
  }
}

@media (max-width: 992px) {

  .logo {
    font-size: 1.5em; 
  }

  input {
    max-width: 250px;
    width: 210px;
  }

  .cocktail-cards {
    justify-content: center;
  }
  
  .card {
    width: calc(45% - 15px);
  }
  
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
  
  .hero-text {
    margin-top: 2rem;
  }
  
  .hero-text h1 {
    font-size: 1.8em;
  }
  
  .hero-text p {
    font-size: 1.2em;
  }
  
  .hero h3 {
    font-size: 1em;
    text-align: center;
  }
  
  .hero-image img {
    border-radius: 15%;
  }
}

@media (max-width: 768px) {

  .logo {
    font-size: 1.2em; 
  }

  input {
    max-width: 200px;
    width: 150px;
  }

  .search-results-heading {
    font-size: 1.7em;
  }

  .cocktail-cards {
    justify-content: center;
  }

  .card {
    width: calc(40% - 10px);
  }
  
  .hero-text h1 {
    font-size: 1.5em;
  }
  
  .hero-text p {
    font-size: 1em;
  }
  
  .hero h3 {
    font-size: 0.9em;
  }
}

@media (max-width: 576px) {

  .search-results-heading {
    font-size: 1.5em;
  }

  .cocktail-cards {
    justify-content: center;
  }

  .card {
    width: calc(90% - 20px);
  }
  
  .hero {
    padding-top: 4rem;
  }
  
  .hero-text h1 {
    font-size: 1.3em;
  }
  
  .hero-text p {
    font-size: 0.9em;
  }
  
  .hero h3 {
    font-size: 0.8em;
    text-align: end;
  }
  
  .logo {
    font-size: 0.7em; 
  }

  input {
    max-width: 160px;
    width: 130px;
    height: 35px;
  }

  .search__btn {
    height: 35px;
    width: 30px;
  }

}
